<div class='whiteout'>
  <header>
    <div class='container'>
      <h1>User certificates</h1>
    </div>
  </header>

  <div class='container main-default' id='main'>
    <section>
      <p class='rss-top pull-right'>
        <i class='icon icon-rss-sign'></i>
        <a href='/datasets.feed'>Subscribe to the RSS feed</a>
      </p>
      <form accept-charset="UTF-8" action="/datasets" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class='form-search input-append'>
          <input class="typeahead-search" id="search" name="search" type="text" />
          <input class="btn" name="commit" type="submit" value="Go" />
        </div>
      </form>

    </section>

    <hr class='heavy'>
    <!-- Down the line, this will support the dashboard view too -->

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.URL %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
